[user]
    email = v@vladde.net
    name = Vladimirs Nordholm
[alias]
    co = checkout
    br = branch
    st = status
    cm = commit
    
    adda = add -A
    unstage = reset HEAD --
    tree = log --graph --all
    filehist = log -p -M --follow --stat --
    diffs = diff --staged
    git = !git
[core]
    editor = vim
[diff]
    tool = code
[difftool "code"]
    cmd = code --wait --diff $LOCAL $REMOTE
[filter "lfs"]
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
