[user]
    email = v@vladde.net
    name = Vladimirs Nordholm
[alias]
    co = checkout
    br = branch
    st = status
    cm = commit -m
    last = log -1 HEAD
    adda = add -A
    unstage = reset HEAD --
    tree = log --graph --oneline --all
[core]
    editor = vim
